body {
    width: 100%;
}

.main-container {

}

.login img {
    width: 120px;
    height: auto;
    padding-left: 30px;
   
}

.login {
    padding-left: 20px;
    padding-top: 20px;
    margin-left: 10px;
}

.flex-column {
    padding-left: 20px;
    margin-left: 25px;

}

.picture-data {
    float: inline-start;
}


.bridge {
    width: 200px;
    float: right;
    height: auto;
    flex-wrap: wrap;
    margin-left: 100px;
    padding-left: 100px;

}